* {
    font-family: 'Manrope', sans-serif !important;
    box-sizing: border-box;
}
.container{
    display: flex;
    margin: 10px;
    border-bottom:0.1px solid rgb(225, 225, 225);
    justify-content:space-between;
    align-items:center;
 
}

.nav-item{
    display: flex;
   
}
.nav-item >li{
    list-style: none;
    margin: 10px;
}

.nav-item > li > a{
    text-decoration: none;
}

 #logo{
    width:100px
 }

 .restaurant-list{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    
    align-items: center;
 }
 
 .card{
   width: 300px;
   min-height: 350px;
    background-color: beige;
    border: 2px solid #000;
    margin: 23px;
    list-style: none;
    

 }

 .card-item >.card-image img{
    width: 100%;
 }

 .card-item {
    display: flex;
    flex-direction: column;
    align-items: baseline;
 }

 .card-content >h3{
    font-size: 20px;
    font-weight: 500;
    word-break: break-word;
 }

 .card-content >h4{
    color: #686b78;
    font-size: 13px;
    margin-top: 4px;
 }

 .restaurant_menu{
   display: flex;
 }
 